<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="text-center">
                <h1 class="index_heading">Welcome to users diary</h1>
                <div class="btn index_btn">
                    <a class="add_user_btn " href="/users">Go to User-Diary</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>